(
    nodes: [
        (
            id: 12346,
            x: -581.17804,
            y: -176.87265,
            modifier: None,
        ),
        (
            id: 12347,
            x: -461.84012,
            y: -101.016815,
            modifier: None,
        ),
        (
            id: 12348,
            x: -93.82553,
            y: -129.88602,
            modifier: None,
        ),
        (
            id: 12349,
            x: -353.00732,
            y: -79.69745,
            modifier: None,
        ),
        (
            id: 12350,
            x: -109.226166,
            y: -299.2317,
            modifier: None,
        ),
    ],
    routes: [
        (
            from: 12346,
            to: 12347,
            distance: 141.40596,
            risk: 0.06265884,
        ),
        (
            from: 12347,
            to: 12348,
            distance: 369.1452,
            risk: 0.3450724,
        ),
        (
            from: 12348,
            to: 12349,
            distance: 263.9964,
            risk: 0.42684576,
        ),
        (
            from: 12349,
            to: 12350,
            distance: 328.06177,
            risk: 0.10970887,
        ),
        (
            from: 12350,
            to: 12346,
            distance: 487.55545,
            risk: 0.20655836,
        ),
    ],
    intel: [
        (
            id: 12346,
            layer: Existence,
            confidence: 0.48281702,
            last_seen_tick: 0,
            revealed: true,
            revealed_tick: 0,
        ),
        (
            id: 12347,
            layer: Existence,
            confidence: 0.0,
            last_seen_tick: 0,
            revealed: false,
            revealed_tick: 0,
        ),
        (
            id: 12348,
            layer: Existence,
            confidence: 0.0,
            last_seen_tick: 0,
            revealed: false,
            revealed_tick: 0,
        ),
        (
            id: 12349,
            layer: Existence,
            confidence: 0.0,
            last_seen_tick: 0,
            revealed: false,
            revealed_tick: 0,
        ),
        (
            id: 12350,
            layer: Existence,
            confidence: 0.0,
            last_seen_tick: 0,
            revealed: false,
            revealed_tick: 0,
        ),
    ],
    stations: [],
    ships: [
        (
            kind: PlayerShip,
            state: Idle,
            role: Security,
            x: -613.17804,
            y: -176.87265,
            fuel: 53.186493,
            fuel_capacity: 60.0,
        ),
    ],
)